{% extends 'base1.html' %} {% block content %}
<!doctype html>
<html lang="en">

<head>
        <link href="/static/color.css" type="text/css" rel="stylesheet" />
    <meta charset="utf-8">
</head>

<body>
    <blockquote>
        <p>
            <h2><i>Services offered in our Websites include: </i></h2>
        </p>
        <p>
            <ol>List of local Rentals such as;</ol>
            <ul>Bedsitters</ul>
            <ul>Single Room</ul>
            <ul>One Bedroom</ul>
            <ul>Two Bedroom</ul>
        </p>
    </blockquote>
    <p>
        <i><Small>Currently, our services are based on Embu Town, 
            and with the sole intention to cater for Students, Who 
            have a hard time finding a house to rent</Small></i></p>
</body>

</html>
{% endblock %}